/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
 @import url(https://use.typekit.net/kkn3cef.css);
 /* section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
   color: #222; } */

 /*********************************************
  * GLOBAL STYLES
  *********************************************/

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

 .reveal {
   font-family: 'Libre Baskerville', Helvetica, sans-serif;
   font-size: 2rem;
   font-weight: normal;
   color: #fff; }

 ::selection {
   color: #fff;
   background: #bee4fd;
   text-shadow: none; }

 ::-moz-selection {
   color: #fff;
   background: #bee4fd;
   text-shadow: none; }

 .reveal .slides section,
 .reveal .slides section > section {
   line-height: 1.3;
   font-weight: inherit; }

 /*********************************************
  * HEADERS
  *********************************************/
 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
   /* margin: 0 0 20px 0; */
   /* color: #fff; */
   font-family: 'Libre Baskerville', Helvetica, sans-serif;
   font-weight: 400;
   line-height: 1.2;
   letter-spacing: normal;
   /* text-transform: uppercase; */
   text-shadow: none;
   word-wrap: break-word; }

 /*********************************************
  * OTHER
  *********************************************/
 .reveal p {
   font-size: 3vh;
   line-height: 1.4;
  }

 /* Ensure certain elements are never larger than the slide itself */
 .reveal img,
 /* .reveal video, */
 .reveal iframe {
   max-width: 95%;
   max-height: 95%; }

 .reveal strong,
 .reveal b {
   font-weight: bold; }

 .reveal em {
   font-style: italic; }

 .reveal ol,
 .reveal dl,
 .reveal ul {
   display: inline-block;
   text-align: left;
   margin: 0 0 0 1em; }

 .reveal ol {
   list-style-type: decimal; }

 .reveal ul {
   list-style-type: disc; }

 .reveal ul ul {
   list-style-type: square; }

 .reveal ul ul ul {
   list-style-type: circle; }

 .reveal ul ul,
 .reveal ul ol,
 .reveal ol ol,
 .reveal ol ul {
   display: block;
   margin-left: 40px; }

 .reveal dt {
   font-weight: bold; }

 .reveal dd {
   margin-left: 40px; }

 .reveal blockquote {
   display: block;
   position: relative;
   width: 70%;
   margin: 20px auto;
   padding: 5px;
   font-style: italic;
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

 .reveal blockquote p:first-child,
 .reveal blockquote p:last-child {
   display: inline-block; }

 .reveal q {
   font-style: italic; }

 .reveal pre {
   display: block;
   position: relative;
   width: 90%;
   margin: 20px auto;
   text-align: left;
   font-size: 0.55em;
   font-family: monospace;
   line-height: 1.2em;
   word-wrap: break-word;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

 .reveal code {
   font-family: monospace;
   text-transform: none; }

 .reveal pre code {
   display: block;
   padding: 5px;
   overflow: auto;
   max-height: 400px;
   word-wrap: normal; }

 .reveal table {
   margin: auto;
   border-collapse: collapse;
   border-spacing: 0; }

 .reveal table th {
   font-weight: bold; }

 .reveal table th,
 .reveal table td {
   text-align: left;
   padding: 0.2em 0.5em 0.2em 0.5em;
   border-bottom: 1px solid; }

 .reveal table th[align="center"],
 .reveal table td[align="center"] {
   text-align: center; }

 .reveal table th[align="right"],
 .reveal table td[align="right"] {
   text-align: right; }

 .reveal table tbody tr:last-child th,
 .reveal table tbody tr:last-child td {
   border-bottom: none; }

 .reveal sup {
   vertical-align: super;
   font-size: smaller; }

 .reveal sub {
   vertical-align: sub;
   font-size: smaller; }

 .reveal small {
   display: inline-block;
   font-size: 0.6em;
   line-height: 1.2em;
   vertical-align: top; }

 .reveal small * {
   vertical-align: top; }

 /*********************************************
  * LINKS
  *********************************************/
 .reveal a {
   color: #42affa;
   text-decoration: none;
   -webkit-transition: color .15s ease;
   -moz-transition: color .15s ease;
   transition: color .15s ease; }

 .reveal a:hover {
   color: #8dcffc;
   text-shadow: none;
   border: none; }

 .reveal .roll span:after {
   color: #fff;
   background: #068de9; }

 /*********************************************
  * IMAGES
  *********************************************/
 /* .reveal section img {
   margin: 15px 0px;
   background: rgba(255, 255, 255, 0.12);
   border: 4px solid #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); } */

 .reveal section img.plain {
   border: 0;
   box-shadow: none; }

 .reveal a img {
   -webkit-transition: all .15s linear;
   -moz-transition: all .15s linear;
   transition: all .15s linear; }

 .reveal a:hover img {
   background: rgba(255, 255, 255, 0.2);
   border-color: #42affa;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

 /*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
 .reveal .controls {
   color: #000; }

 /*********************************************
  * PROGRESS BAR
  *********************************************/
 .reveal .progress {
   background: rgba(0, 0, 0, 0.2);
   color: #42affa; }

 .reveal .progress span {
   -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

 /*********************************************
  * PRINT BACKGROUND
  *********************************************/
 @media print {
   .backgrounds {
     background-color: #222; } }

/*********************************************
  * SLIDEs
  *********************************************/

  /* Slide 1 */

  .controls {
    padding: 2rem 1.4rem;
    margin: 1rem;
  }

  .reveal .slides > section, .reveal .slides > section > section {
    padding: 0;
    height: 100%;
  }

.col1, .col2,  .col3, .col4, .col5, .col6, .col7, .col8 {
  height: 100%;
  align-self: center;
  background-size: cover;
  overflow: hidden;
}

.reveal .slides .grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  height: 100%;
}

.reveal .slides .grid-square {
  height: 18vw;
  box-sizing: border-box;
  border: 0.3rem solid black;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "box-1 box-2 box-3 box-4" "box-5 box-6 box-7 box-8";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.5fr;
  grid-gap: 0.8vh;
  padding: 0.8vh;
}

 .col1 { grid-area: col1; }
 .col2 { grid-area: col2; }
 .col3 { grid-area: col3; }
 .col4 { grid-area: col4; }
 .col5 { grid-area: col5; }

 .reveal .slides .grid-0 {
  grid-template-areas: "col1 col2";
}
 .reveal .slides .grid-1 {
  grid-template-areas: "col1 col2" "col3 col3";
}

 .reveal .slides .grid-2 {
  grid-template-areas: "col1 col2" "col3 col4";
}

.reveal .slides .grid-3 {
  grid-template-areas: "col1 col2" "col1 col3";
  grid-template-rows: 1fr 1fr;
}

.reveal .slides .grid-4 {
  grid-template-areas: "col1 col2" "col3 col3";
}

.reveal .slides .grid-5 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "col1 col2 col3" "col4 col4 col4";
}

.reveal .slides .grid-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "col1 col2 col3" "col4  col5 col6";
}

.reveal .slides .grid-7 {
  grid-template-areas: "col1 col3" "col2 col3";
}

.reveal .slides .grid-8 {
  grid-template-areas: "col1 col1" "col2 col3";
}

.reveal .slides .grid-9 {
  grid-template-areas: "col1 col2 col3";
  grid-template-columns: 0.7fr 0.7fr 2.6fr;
  width: 90vw;
  grid-gap: 1.2vh;
  margin: 0 auto;
}

.reveal .slides .grid-10 {
  grid-template-areas: "col1 col1 col1" "col2 col3 col4";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.reveal .slides .grid-11 {
  grid-template-areas: "col1 col2 col3" "col4 col4 col4";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.reveal .slides .grid-12 {
  grid-template-areas: "col1";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.reveal .slides .no-gap {
  grid-gap: 0;
}



.video-container {
  position: relative;
  overflow: hidden;
  height:100%;
  width:100%;
}

#hacking-2 .col2,
#hacking-2 .col3 {
  overflow: hidden;
}

#hacking-2 .video-container {
  transform: scale(1.2);
}

.reveal video {
  max-width: auto;
  max-height: auto;
}

.video-container video.max-height {
  height: 100%;
}
.video-container video.max-width {
  width: 100%;
}
.video-container video {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: left;
  padding: 4vh 4vw;
}

.grid h2 {
  margin: 0;
}

.center-aligned {
  place-content: center center;
  display: grid;
}

.reveal .cover h4 {
  margin: 0;
  color: black;
}
#hacking-4 .col4 { background: #D1618F; }

#snap .logo { width: 34vh; }
#roli .logo { height: 12vh; }
#hudl .logo { height: 6vh; margin-top: 1.4vh;}
#tfl .logo { height: 10vh; }
#w3w .logo { height: 5vh; margin-top: 2vh; }
#bcard .logo { height: 5vh; margin-top: 2vh;}
#canon .logo { height: 5vh; margin-top: 1.6vh; }
#bwin .logo { margin-top: 2vh; }

#ustwo-logo { width: 16vh; }
#possible-logo { width: 24vh; }

.position {
  position: absolute;
  right: 4vw;
  top: 2vh;
}

.reveal .job {
  text-align: left;
  font-family: proxima-nova;
  font-size: 2.6vh;
  bottom: 22vh;
  position: absolute;
}

.reveal .tags,
.company-logo {
  position: absolute;
  text-align: left;
  list-style-type: none;
  bottom: 6vh;
}

.company-logo {
  right: 4vw;
  top: 6vh;
  width: 24vh;
}

.reveal .tags {
  float: left;
  left: 4vw;
  margin: 0;
  padding: 0;
}

.tags li {
  margin-right: 0.6vw;
  font-family: proxima-nova, Arial, Helvetica, sans-serif;
  padding: 0.8vh 2.2vh;
  font-size: 2vh;
  float: left;
}

.black { background: black; }
.light-green { background: #82bfa1; }
.dark-green { background: #62977d; }
.light-aqua { background: #84CDBB;}
.dark-aqua { background: #00B0AF;}
.orange { background: #e95420; }
.red { background: #ED3024; }
.dark-red { background: #BE2626; }
.canon-red { background: #D52A30; }
.light-blue { background: #009CC0; }
.dark-blue { background: #006C96; }
.blue { background: #0081AD; }
.light-orange { background: #D44519;}
.tags .white { color: black; background: white; }
.tags .yellow { color: black; background: #F8E612; }

#snap .fact { color: #ff6500;}
#roli .fact { color: #62E2FF; }
#tfl .fact { color: #84CDBB; }

.reveal .fact {
  font-size: 3vh;
  line-height: 4.2vh;
  margin: 0 0 1vh 0;
  width: 100%;
  font-family: "proxima-nova";
}

.reveal h4 {
  font-size: 6vh;
  line-height: 8vh;
  margin-bottom: 4vh;
  margin-top:0;
}

.reveal h3 {
  text-transform: uppercase;
  font-family: 'Proxima Nova';
  font-size: 3vh;
  opacity: 0.6;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.black-frame {
  background: black;
  color: white;
}

.vertical-grid-centering {
  align-self: center;
}

.reveal h1 {
  padding: 1vh;
  font-size: 6vh;
  float: left;
}

.reveal h2 {
  font-size: 4vh;
  color: black;
  line-height: 5.4vh;
  width: 100%;
}
#intro h1,
#intro h2 {
  float: left;
  text-align: left;
}

.reveal h1 span,
.reveal h2 span {
  font-weight: 700;
}

#index {
  line-height: 2.16vw;
  font-size: 1.8vw;
}

.reveal .slides .grid-square .box-third {
  display: grid;
  align-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1vh;
}

.reveal .slides .grid-square .box-third img {
  max-height: 8vh;
  margin: auto;
  filter: invert(255);
  background:transparent;
}

.reveal .slides .grid-square .box-third:hover img {
  background: transparent;
}

.reveal .slides .grid-square .box-third { background: black; }
.reveal .slides .grid-square .canon-colour-bkg img { height: 3vh; }

.reveal .slides .grid-square .snap-colour-bkg:hover { background: #B1263E; }
.reveal .slides .grid-square .roli-colour-bkg:hover { background: #6E48A1; }
.reveal .slides .grid-square .hudl-colour-bkg:hover { background: #00B3D5; }
.reveal .slides .grid-square .tfl-colour-bkg:hover { background: #23368A; }
.reveal .slides .grid-square .barclays-colour-bkg:hover { background: #008BC0; }
.reveal .slides .grid-square .w3w-colour-bkg:hover { background: #BB0D29; }
.reveal .slides .grid-square .canon-colour-bkg:hover { background: #D52A30; }
.reveal .slides .grid-square .bwin-colour-bkg:hover { background: #261B6B; }

.reveal .slides .grid-square a:hover img { box-shadow: none; }

.reveal .circle-wrapper {
  border-radius: 50%;
  float: left;
  width: 100%;
  height: 16vw;
  display: grid;
  cursor: pointer;
  border: 0.3rem solid black;
  box-sizing: border-box;
}

.reveal .circle-wrapper:hover {
  border: 0.3rem solid black;
}

.reveal .circle-content {
  font-weight: 700;
  align-self: center;
}

.circle-wrapper.black,
.reveal .white:hover {
  background: black;
  color: white;
}

.circle-wrapper.white,
.circle-wrapper.black:hover {
  background: white;
  color: black;
}

.reveal.overview .slides section.present,
.reveal.overview .slides section:hover {
  outline-offset: 14px;
  outline-style: dashed ;
}

.reveal.overview .slides section.present { outline-color: black; }
.reveal.overview .slides section:hover { outline-color: white; }

.reveal.overview  {
  background: url(../../img/slides/intro-image.jpg);
  background-size: 150%;
}

.reveal .button {
  border: 0.2vh solid white;
  padding: 2vh 4vh;
  color:white;
}

.reveal .button:hover {
  border: 0.2vh solid white;
  color:black;
  background:white;
}


.reveal .content-wrapper {
  padding: 4vh;
  text-align: left;
  color: black;
  max-width:80vh;
}

.reveal .content-wrapper * {
  font-size: 2.6vh;
  font-family: proxima-nova;
}

.reveal .content-wrapper p {
  margin-bottom: 4vh;
}
.reveal .content-wrapper p span {
  font-weight: 700;
}

.reveal .content-wrapper ul li {
  margin-bottom: 1vh;
}

.reveal .circle-bkg {
  background:url(/img/slides/circle-white.svg);
  background-position: 50%;
}